:root{
    --card-height: 300px;
    --card-width: calc(var(--card-height) / 1.5);
    --fsxl: 3rem;
    --fs600: 2rem;
    --fs400: 1rem;
}

*{
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100%;
    margin: 0;
    background: #191c29;
}

header{
    width: 100%;
    /* border: 2px solid red; */
    background-color: rgba(0,0,0,0.4);
    transition: all 0.5s ease;
 
   
}

header:hover{
    background-color: rgba(0,0,0,1); 
}

nav{
    width: 100%;
    padding: 1rem 0; 
    text-align: center;
    /* border: 2px solid green; */
    
}

nav h1{
    color:white;
    display: inline;
    font-size: clamp(0.2rem, 2vw + 1rem, 3rem);
}

.navbar{
  display: inline-block;
  padding-left: 1rem;
}

.container{
    width: 100%;
    padding-block: min(15vh, 10rem);
    display:grid;
    /* grid-template-columns: repeat(4, minmax(0, 1fr)); */
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    row-gap: 5rem;
    place-content: center;
}



.card{
    width: var(--card-width);
    height: var(--card-height);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 36px;
    perspective: 2500px;
    margin: 0 auto;
    /* outline: 3px solid limegreen; */
}

.cover-img{
    width:100%;
    height:100%;
    object-fit: cover;
}

.wrapper{
    transition: all 0.5s;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    /* outline: 3px solid red; */
}

.card:hover .wrapper{
    transform: perspective(900px)
    translateY(-5%) rotateX(25deg) translateZ(0);
    box-shadow: 2px 35px 32px -8px rgba(0,0,0,0.75);
    -webkit-box-shadow: 2px 35px 32px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 35px 32px -8px rgba(0,0,0,0.75);
}

.wrapper::before, .wrapper::after{
    content: "";
    opacity: 0;
    width: 100%;
    height: 80px;
    transition: all 0.5s;
    position: absolute;
    left: 0;
}

.wrapper::before{
    top: 0;
    height: 100%;
    background-image: linear-gradient(to top, transparent 46%,
    rgba(12,13,19,0.5) 68%,
    rgba(12,13,19) 97%
    );
}

.wrapper::after{
    bottom: 0;
    opacity: 1;
    background-image: linear-gradient(to bottom, transparent 46%,
    rgba(12,13,19,0.5) 68%,
    rgba(12,13,19) 97%
    );
}

.card:hover .wrapper::before, .wrapper::after{
    opacity: 1;
}

.card:hover .wrapper::after{
    height: 120px;
}

.title{
    width: 100%;
    margin: 10rem 0 0 0;
    transition: transform 0.5s;
}

.demon-title{
    filter: invert(1);
}

.draglogo, .darlifralogo{
    width:130%;
}
.card:hover .title{
    transform: translate3d(0%, -50px, 100px);
}

.character{
    scale: 1.2;
    width:100%;
    opacity: 0;
    transition: all 0.5s;
    position: absolute;
    /* clip-path: inset(0px 25px 0px 0px); */
    z-index: -1;
}

.default-scale{
    scale: 1;
}

.card:hover .character{
    opacity: 1;
    transform: translate3d(0%, -20%, 100px);
}